.titre1{
    color: rgb(46, 43, 226);
    text-align:center ;
    font-size: 50px;
    text-transform: uppercase;
}
.titre2{
    color: rgb(19, 59, 241);
    text-align:left ;
    text-transform: uppercase;

}
.titre3{
    color: rgb(19, 16, 238);
    text-align: left;
    text-transform: uppercase;
}