nav
{
display: flex;
background-color: rgb(128, 201, 144);
text-align: justify;
text-align: center;
justify-content: space-between;
}
nav ol
{
margin: 0;
padding: 0;
}
nav a
{
    color: rgb(14, 14, 240);
}
body
{
    background: url(../image/herit.jpg);
    background-size: cover;
}
form
{
width: 500px;
margin: auto;
background: rgba(0,0,0,6);
margin-top: 5%;

}
label
{
    color: rgb(110, 189, 149);
    text-align: center;
    opacity: 20%;
    font-size: 400%;
}
input
{
    width: 90%;
    height: 50px;
    border-radius:6px ;
}
button
{
    border-radius:6px ;
    height: 50px;
    font-size: 300%;
    color: rgb(68, 207, 161);
}
    